<div class="wrap">
    <section class="slides">
        slides loaded
        <!-- <img *ngFor="let slide of slides" src="assets/images/{{slide.image}}.JPG" alt="{{slide.id}}" /> -->
        <!-- <img
            ng-repeat="slide in slides"
            ng-style="{'z-index': (1000 - $index)}"
            ng-show="slideIndex == $index"
            ng-src="assets/images/{{slide.image}}.JPG" /> -->
    </section>

    <!-- <section class="buttons slide{{ slideIndex }} {{stage.last}}">
        <div class="wrap">
            <div ng-click="stage.nextSlide()" class="button"><div class="arrow right"></div></div>
            <div ng-click="stage.prevSlide()" class="button"><div class="arrow left"></div></div>
            <a ng-click="stage.mute()" href="#mute">Mute</a>
        <div>
    </section> -->

</div> <!-- wrap -->
